
/*
 *	Backend Styles
 *
*/
.settings_page_wpcodeschool-badges .wrap, h2 {
	color: #3f4944;
}
.settings_page_wpcodeschool-badges #namediv h3, .settings_page_wpcodeschool-badges #submitdiv h3, .settings_page_wpcodeschool-badges .postbox h3 {
	color: #c98344;
	border-bottom-color: transparent;
}
.settings_page_wpcodeschool-badges .postbox {
	background-color: #f6f5ed;
	border-color: #a9a9a9;
	color: #3f4944;
}

.settings_page_wpcodeschool-badges .postbox a:link, a:visited {
	color: #3f4944;
	text-decoration: none;
}
.settings_page_wpcodeschool-badges .postbox a:hover {
	color: #c98344;
}

.settings_page_wpcodeschool-badges .postbox img.gravatar {
	max-width: 100%;
}

.settings_page_wpcodeschool-badges .postbox .inside {
	display: table
}


.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges li.badge-group {
	

}

.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges li.main-course-image {
	

}
.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges li.main-course-image {
	

}
.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges ul.course-sub-badges {
	

}
.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges li.course-sub-badge-image {
	

}

.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges li.course-sub-badge-image-name {
	

}






.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges > li {
	float: left; 
	margin: 10px; 
	text-align: center; 
	height: 170px; 
	width: 85px;
	overflow: hidden;
}           

.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges li li {
	margin: 2px 0; 
	padding: 0;
}

.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges img {
	float: left;
	width: 100%; 
	margin-bottom: 5px;
}           

.settings_page_wpcodeschool-badges .postbox .wpcodeschool-project-name a {
	font-size: .8em; 
	text-decoration: none; 
	line-height: .5em
}

.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges-and-points li {
	padding: 5px 10px; 
	background: #deddd7; 
	color: #606e67; 
	/*border-radius: 20px; */
	font-size: 1em; 
	display: inline-block;
	/*float: left;*/
}  

.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges-and-points li:first-child {
	margin-right: 5px
}   

.settings_page_wpcodeschool-badges .postbox .wpcodeschool-badges-and-points strong {
	/*color: #92ae57;*/
}           

