/*
 *	Backend Styles
 *
*/
.settings_page_wpcodeschool-badges {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.settings_page_wpcodeschool-badges .wrap, h2 {
	color: #3f4944;
}
.settings_page_wpcodeschool-badges #namediv h3, .settings_page_wpcodeschool-badges #submitdiv h3, .settings_page_wpcodeschool-badges .postbox h3 {
	color: #c98344;
	border-bottom-color: transparent;
}
.settings_page_wpcodeschool-badges .postbox {
	background-color: #f6f5ed;
	border-color: #a9a9a9;
	color: #3f4944;
}
.settings_page_wpcodeschool-badges .postbox a:link, a:visited {
	color: #3f4944;
	text-decoration: none;
}
.settings_page_wpcodeschool-badges .postbox a:hover {
	color: #c98344;
}

.settings_page_wpcodeschool-badges .postbox img.gravatar {
	max-width: 100%;
}

.settings_page_wpcodeschool-badges .postbox .inside {
	display: table;
}
.badge-group {
	background-color: #deddd7;
	border-radius: 3px;
	padding: 1em;
	margin-bottom: 1em;
}
.no-sub-badges {
	display: inline-block;
	width: 200px;
}
.course-title {
	clear: left;
}
.course-badge {
	float: left;
	width: 125px;
}
.in-progress .course-badge  {
	-webkit-filter:grayscale(1) brightness(.66);
}
.sub-badge {
	float: left;
	width: 50px;
	margin-top: 7px;
	margin-left: 10px;
}

/*
 *	Frontend Styles
 *
*/

.wpcodeschool-badge-widget{
	padding: 0;
}
.wpcodeschool-badge-widget li,
.widget-area .wpcodeschool-badge-widget li {
	float: left;
	width: 60px;
	height: 60px;
	margin: 0 5px 5px;
	padding: 10px 0 0;
	position: relative;	
	list-style: none;
}
.wpcodeschool-badge-widget img {
	width: 100%;
	border: none;
}